.footer {
    margin-top: auto;
    position: relative;
}

.footer div{
    padding: 10px 20px;
}

.anchor{
    text-decoration: none;
    color: aliceblue;
    position: relative;
}

.anchor:hover{
    color: #000000;
}

@media(min-width: 30rem){
    .footer div{
        display: inline-block;
    }
}

