.img-fluid {
    width: 100%;
}

.padding-top {
    position: relative;
    padding-top: 10px;
}

.border-box {
    position: absolute;
    border-style: solid;
    border-spacing: 2px;
    background-image: radial-gradient( circle 592px at 48.2% 50%,  #fffff92c 0%, #a0c7fe3a 74.6% );
    border-color: azure;
    border-image-slice: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    cursor: pointer;


}

.Load-msg{
    position: absolute;
    top: 20%;
    left: 50%;
    font-size: 1.2rem;
    font-weight: bold;
    transform: translateX(-50%);
    color: #cd3232;
    background: #ffffff54;
    padding: 5px;
}

@media(min-width: 40rem){
    .image-container{
        width: 80%;
    }
}